{% extends 'base.html' %}

{% block content %}
   <h2>Sing UP</h2>
   <form method='post'>
      {% csrf_token %}
      {{form.as_p}}
      <button type='submit'>Sign UP</button>
   </form>
{% endblock content %}